.new-user {
    background-color: #836e9cd7;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 30%;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  }


.new-user__controls {
    /* display: flex; */
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .new-user__control label {
    font-weight: bold;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    display: block;
    width: 10rem;
    max-width: 90%;
    /* text-align: left; */
  }
  
  .new-user__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 90%;
  }
  
  .new-user__actions {
    text-align: center;
  }


  .new-user button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 1rem;
    border: 1px solid #40005d;
    background-color: #40005d;
    color: white;
    border-radius: 12px;
    margin-top: 1rem;
  }
  
  .new-user button:hover,
  .new-user button:active {
    background-color: #510674;
    border-color: #510674;
  }
  