.user-list {
    background-color: #836e9cd7;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 70%;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    /* list-style: none; */
  }
  
