.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
  }
  
  .modal {
    position: fixed;
    top: 30vh;
    left: 10%;
    width: 80%;
    z-index: 100;
    overflow: hidden;
    background: white;
  }
  
  .modal_header {
    background: #4f005f;
    padding: 1rem;
  }
  
  .modal_header h2 {
    margin: 0;
    color: white;
  }
  
  .modal_content {
    padding: 1rem;
  }
  
  .modal_actions {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
  }
  
  @media (min-width: 768px) {
    .modal {
      left: calc(50% - 20rem);
      width: 40rem;
    }
  }

  .modal button {
    font: inherit;
    cursor: pointer;
    padding: 0.5rem 5rem;
    border: 1px solid #40005d;
    background-color: #40005d;
    color: white;
    border-radius: 12px;
    margin-top: 1rem;
  }
  
  .modal button:hover,
  .modal button:active {
    background-color: #510674;
    border-color: #510674;
  }